<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section>
        <div class="container">
            <h2>List Product</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">Category</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                     <% for(var i = 0; i < products.length; i++) { %>
                        <tr>
                            <td>
                                <%= products[i].name %>
                            </td>
                            <td>
                                <%= products[i].price %>
                            </td>
                            <td>
                                <img src="data:<%= products[i].image.contentType %>;base64,<%= products[i].image.data %>"" style="height: 100px; width: 100px; object-fit: contain;" >
                            </td>
                            <td>
                                <%= products[i].category.name %>
                            </td>
                            <td>
                                <%= products[i].brand.name %>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="/product/editProduct/<%= products[i]._id %>">Edit</a>
                                <a class="btn btn-danger" onclick="return confirm('Xác nhận xoá sản phẩm <%= products[i].name %>')" href="/product/deleteProduct/<%= products[i]._id %>">Delete</a>
                            </td>
                        </tr>
                      <% } %>
                </tbody>
            </table>
            <a href="/product/createProduct" class="btn btn-success">Add Product</a>
        </div>
    </section>

</body>

</html>